{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}


{% block body %}

{% if app.user %}
        <div class="m-3">
           Profile: {{ app.user.firstName }} <a class="btn btn-warning" href="{{ path('app_logout') }}">Logout</a>
           <a class="btn btn-primary" href="{{ path('home') }}">Home</a>
        </div>

        <h1 class="text-center">Bienvenue {{ app.user.firstName }} !</h1>

        <h2>Vos projets:</h2>
        <div class="exemple-wrapper">
            <table class="table">                   
                <tr>
                    <th><strong>Nom de projet</strong></th>
                    <th><strong>Description:</strong></th>
                    <th><strong>Commencer le:</strong></th>                        
                    <th><strong>A finir pour le:</strong></th>
                    <th><strong>Modifier</strong></th>
                    <th><strong>Supprimer</strong></th>
                </tr>
                {% for project in app.user.projects %}
                    <tr>
                        <td><a class="btn" href="{{ path('projectById', { id:project.id }) }}"></h2>{{ project.title }}</h2></a></td>
                        <td>{{ project.description }}</td>
                        <td>{{ project.startAt | date("d-m-Y à H:i") }}</td>
                        {% if project.endAt %}
                            <td>{{ project.endAt | date("d-m-Y à H:i") }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td><a class="btn btn-success" href="{{ path('upd_project', { id:project.id }) }}">Modifier</a></td>
                        <td><a class="btn btn-danger" href="{{ path('del_project', { id:project.id }) }}">Supprimer</a></td>
                    </tr>
                {% endfor %}
            </table>
          </div>

        <div class="text-center">
            <a class="btn btn-primary" href="{{ path('add_project') }}">Ajouter un projet</a>
        </div>
{% endif %}

{% endblock %}

